@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
html.dark body {
  background-color: #1a202c; /* Dark mode background */
  color: #f7fafc; /* Light text in dark mode */
}

html.light body {
  background-color: #f7fafc; /* Light mode background */
  color: #1a202c; /* Dark text in light mode */
}





